# Node & React dependencies
node_modules/
dist/
build/

# Environment variables
.env
.env.local
.env.production
.env.development

# Logs & Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Ignore IDE/Editor files
.vscode/
.idea/
*.swp
